{%- assign site_ui_mode = site.ui.mode | default: 'auto' -%}

{%- assign site_ui_background_color_dark = site.ui.body.dark | default: site.ui.body | default: '#252525' -%}
{%- assign site_ui_background_color_light = site.ui.body.light | default: site.ui.body | default: '#ffffff' -%}

{%- assign site_ui_border_color_dark = site.ui.border_color.dark | default: site.ui.border_color | default: '#5f5f5f' -%}
{%- assign site_ui_border_color_light = site.ui.border_color.light | default: site.ui.border_color |  default: '#dee2e6' -%}

{%- assign site_ui_brand_dark = site.ui.brand.dark | default: site.ui.brand | default: '#00ceff' -%}
{%- assign site_ui_brand_light = site.ui.brand.light | default: site.ui.brand | default: '#a20000' -%}

{%- assign site_ui_codeblock_background_color_dark = site.ui.code_block.background_color.dark | default: site.ui.code_block.background_color | default: '#3f3f3f' -%}
{%- assign site_ui_codeblock_background_color_light = site.ui.code_block.background_color.light | default: site.ui.code_block.background_color | default: '#f7f7f9' -%}
{%- assign site_ui_codeblock_font_color_dark = site.ui.code_block.font_color.dark | default: site.ui.code_block.font_color | default: '#fdce93' -%}
{%- assign site_ui_codeblock_font_color_light = site.ui.code_block.font_color.light | default: site.ui.code_block.font_color | default: '#333333' -%}

{%- assign site_ui_font_color_dark = site.ui.font_color.dark | default: site.ui.font_color |  default: '#d8d8d8' -%}
{%- assign site_ui_font_color_light = site.ui.font_color.light | default: site.ui.font_color |  default: '#222222' -%}

{%- assign site_ui_inline_code_color_dark = site.ui.inline_code_color.dark | default: site.ui.inline_code_color | default: '#ffa6a6' -%}
{%- assign site_ui_inline_code_color_light = site.ui.inline_code_color.light | default: site.ui.inline_code_color | default: '#e83e8c' -%}

{%- assign site_ui_masthead_font_color_dark = site.ui.masthead.color.dark | default: site.ui.masthead.color | default: '#fff' -%}
{%- assign site_ui_masthead_font_color_light = site.ui.masthead.color.light | default: site.ui.masthead.color | default: '#fff' -%}

{%- assign site_ui_masthead_gradient_dark_color1 = site.ui.header.dark.color1 | default: site.ui.header.color1 | default: '#062a48' -%}
{%- assign site_ui_masthead_gradient_dark_color2 = site.ui.header.dark.color2 | default: site.ui.header.color2 | default: '#304e67' -%}
{%- assign site_ui_masthead_gradient_light_color1 = site.ui.header.light.color1 | default: site.ui.header.color1 | default: '#080331' -%}
{%- assign site_ui_masthead_gradient_light_color2 = site.ui.header.light.color2 | default: site.ui.header.color2 | default: '#673051' -%}

{%- if site.ui.header.trianglify == true or site.ui.header.trianglify == false -%}
    {%- assign site_ui_masthead_trianglify = site.ui.header.trianglify -%}
{%- else -%}
    {%- assign site_ui_masthead_trianglify = true -%}
{%- endif -%}

{%- assign site_ui_sidebar_font_color_dark = site.ui.sidebar.font_color.dark | default: site.ui.sidebar.font_color | default: "#c7c7c7" -%}
{%- assign site_ui_sidebar_font_color_light = site.ui.sidebar.font_color.light | default: site.ui.sidebar.font_color | default: "#999999" -%}
