<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                {% if site.githubButton.user and site.githubButton.repo %}
                    <li>
                        <iframe class="github-btn"
                                src="http://ghbtns.com/github-btn.html?user={{ site.githubButton.user }}&amp;repo={{site.githubButton.repo}}&amp;type=watch&amp;count=true"
                                width="90"
                                height="20"
                                title="Star on GitHub"></iframe>
                    </li>
                    <li>
                        <iframe class="github-btn"
                                src="http://ghbtns.com/github-btn.html?user={{ site.githubButton.user }}&amp;repo={{site.githubButton.repo}}&amp;type=fork&amp;count=true"
                                width="90"
                                height="20"
                                title="Fork on GitHub"></iframe>
                    </li>
                {% endif %}
                {% if site.twitter.enabled %}
                    <li>
                        <a href="https://twitter.com/share"
                           class="twitter-share-button"
                           data-url="{{ site.github.url }}"
                           data-count="horizontal"
                           data-via="{{ site.twitter.via }}"
                           data-text="{{ site.name }}"
                           data-hashtags="{{site.twitter.hash}}">Tweet</a>
                    </li>
                {% endif %}
                {% if site.twitter.account %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter.account }}"
                           class="twitter-follow-button"
                           data-show-count="true">Follow @{{ site.twitter.account }}</a>
                    </li>
                {% endif %}
                {% if site.facebook.enabled %}
                    <li>
                        <div class="fb-like"
                             data-href="{{ site.github.url }}"
                             data-layout="button_count"
                             data-action="like"
                             data-show-faces="false"
                             data-share="true"></div>
                    </li>
                {% endif %}
                {% if site.facebook.profileUrl %}
                    <li>
                        <div class="fb-follow"
                             data-href="{{ site.facebook.profileUrl }}"
                             data-layout="button_count"
                             data-show-faces="false"></div>
                    </li>
                {% endif %}
            </ul>
        </div>

        <p>
            Licensed under <a href="{{ site.licenseUrl }}" target="_blank">{{ site.license }}</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        </p>
        <p>
            Documentation template by <a href="http://getbootstrap.com">Bootstrap team</a>, generated with <a href="https://github.com/mistic100/jekyll-bootstrap-doc">Jekyll Bootstrap Doc</a>
        </p>

        <ul class="bs-docs-footer-links muted">
            <li>Currently v{{ site.version }}</li>
            {% for l in site.footerLinks %}
                <li>&middot;</li>
                <li>
                    <a href="{{ l.url }}">{{ l.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</footer>