<div class="site-masthead text-center py-5 mb-5">
    <div class="container">
        <h1>{{ page.title | default: site.name }}</h1>

        {% if page.description %}
            <p class="site-masthead__description mb-0">
                {{ page.description }}
            </p>
        {% endif %}

        {% if page.homepage %}
            {% if site.project.download_url %}
                <p class="site-masthead__download-btn mt-4 mb-0">
                    <a href="{{ site.project.download_url }}"
                       class="btn btn-outline-inverse btn-lg"
                    >
                        {{ site.project.download_text | default: 'Download' }}
                    </a>
                </p>
            {% endif %}

            {% if site.project.version %}
                <p class="site-masthead__version mt-1 mb-0">
                    <small>Currently v{{ site.project.version }}</small>
                </p>
            {% endif %}
        {% endif %}
    </div>
</div>
