.js .bs-docs-sidebar {
    ul ul {
        display: none;
    }
}

.bs-docs-section {
    position: relative;
}

.bs-docs-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;

    ul {
        padding-left: 15px;

        & ul {
            font-size: 90%;
        }
    }

    li {
        list-style: none;
    }

    a {
        border-left: $sidebar-highlight-width solid transparent;
        color: #999;
        display: block;
        font-weight: 500;
        padding: 4px 10px;

        &:focus,
        &:hover {
            background-color: transparent;
            color: $sidebar-highlight-color;
        }

        &.active,
        &.active:focus,
        &.active:hover {
            border-left-color: $sidebar-highlight-color;
            color: $sidebar-highlight-color;
            font-weight: 700;
        }

        &.active + ul {
            display: block;
        }
    }
}
