// Only hide nested ULs if they are accessible via JS
.js .page-sidebar {
    ul ul {
        display: none;
    }
}

.page-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;

    ul {
        padding-left: 15px;

        & ul {
            font-size: 90%;
        }

        li {
            list-style: none;
        }

        a {
            color: #999;
            display: block;
            font-weight: 500;
            position: relative;

            &:focus,
            &:hover {
                background-color: transparent;
                color: $sidebar-highlight-color;
            }

            &.active,
            &.active:focus,
            &.active:hover {
                color: $sidebar-highlight-color;
                font-weight: 700;

                // In order to prevent being affected by the extra width misaligning
                // content, we'll do position absolute the border.
                &::before {
                    border-left: $sidebar-highlight-width solid $sidebar-highlight-color;
                    content: '';
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            // Unhide any nested ULs when this TOC section is active
            &.active + ul {
                display: block;
            }
        }
    }
}
