.btn-outline {
    background-color: transparent;
    border-color: $site-theme-brand;
    color: $site-theme-brand;

    &:hover,
    &:focus,
    &:active {
        background-color: $site-theme-brand;
        border-color: $site-theme-brand;
        color: choose-contrast-color($site-theme-brand);
    }
}

.btn-outline-inverse {
    background-color: transparent;
    border-color: #cdbfe3;
    color: choose-contrast-color($site-theme-brand);

    &:hover,
    &:focus,
    &:active {
        background-color: choose-contrast-color($site-theme-brand);
        border-color: choose-contrast-color($site-theme-brand);
        color: $site-theme-brand;
        text-shadow: none;
    }
}
