.navbar-custom {
    a {
        border-bottom: 0;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .icon-bar {
        background: $site-ui-brand-light;
        border-radius: 1px;
        display: block;
        height: 2px;
        margin: 4px 0;
        width: 22px;
    }
}
