.site-masthead {
    background: $site-theme-color1;
    background: linear-gradient(135deg, $site-theme-color1, $site-theme-color2);
    color: white;
    position: relative;

    &::after {
        background: linear-gradient(135deg, transparent 50px, white 50px);
        bottom: 0;
        content: "";
        height: 50px;
        position: absolute;
        right: 0;
        width: 30%;
    }
}

.site-masthead__button {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    margin-right: 1rem;

    &:hover {
        background-color: #fff;
        color: $site-theme-brand;
        text-decoration: none;
    }

    &:last-child {
        margin-right: 0;
    }
}

.site-masthead__version {
    font-size: 0.8rem;
}
