---
layout: default
---

<div class="container">
    <div class="bs-docs-container row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                {{ content }}
            </div>
        </div>

        <div class="col-md-3 hidden-print">
            <nav id="page-toc" class="page-sidebar py-3">
                {% include toc.html html=content class="list-unstyled.pl-0" anchor_class="nav-link.px-3.py-1" h_max=3 %}

                <a class="px-3 text-muted" href="#top">
                    <small>Back to top</small>
                </a>
            </nav>
        </div>
    </div>

    {% include disqus.html %}
</div>
