---
layout: default
---

<div class="container">
    <div class="bs-docs-container row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                {{ content }}
            </div>
        </div>

        <div class="col-md-3 hidden-print">
            <nav id="page-toc" class="bs-docs-sidebar">
                {% include toc.html html=content class="list-unstyled.bs-docs-sidenav" anchor_class="nav-link" h_max=3 %}

                <a class="back-to-top" href="#top">
                    Back to top
                </a>
            </nav>
        </div>
    </div>

    {% include disqus.html %}
</div>
