---
layout: default
---

<div class="container">
    <div class="bs-docs-container row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">{{ content }}</div>
        </div>

        <div class="col-md-3 bs-docs-sidebar hidden-print" role="complementary">
            {% include toc.html html=content class="nav.bs-docs-sidenav" h_max=3 %}

            <a class="back-to-top" href="#top"> <i class="glyphicon glyphicon-chevron-up"></i>
                Back to top
            </a>
        </div>
    </div>

    {% include disqus.html %}
</div>
