a {
    border-bottom: 1px dashed currentColor;
    color: $site-theme-brand;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: darken($site-theme-brand, 10%);
        text-decoration: none;
    }
}
