a {
    border-bottom: 1px dashed currentColor;
    color: $site-theme-accent;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: darken($site-theme-accent, 10%);
    }
}
