.bs-docs-footer {
    color: #777;
}

.bs-docs-footer-links {
    margin-top: 20px;
    padding-left: 0;
    color: #999
}

.bs-docs-footer-links li {
    display: inline;
    padding: 0 2px
}

.bs-docs-footer-links li:first-child {
    padding-left: 0
}
